In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import numpy as np
import itertools

ImportError: No module named matplotlib

In [2]:
df_parts = pd.read_csv('data/parts.csv')
df_parts_categories = pd.read_csv('data/part_categories.csv')
df_inventories = pd.read_csv('data/inventories.csv')
df_inventories_parts = pd.read_csv('data/inventory_parts.csv')
df_sets = pd.read_csv('data/sets.csv')

df_sets.head()

df_PARTS = pd.merge(df_parts,df_parts_categories,left_on='part_cat_id',right_on='id',how='left',suffixes=['_part','_cat'])

df_PARTS.head()

df_SETS = pd.merge(df_inventories_parts,df_inventories,left_on='inventory_id',right_on='id',how='left')
df_SETS = pd.merge(df_SETS,df_sets,on='set_num',how='left')
df_SETS = pd.merge(df_SETS,df_PARTS[['part_num','name_part','name_cat']],on='part_num',how='left')
df_SETS.head()

### Drop the figurines from castle

In [7]:
df_6075_2_BOM = df_SETS[df_SETS.set_num=='6075-2']
df_6075_2_BOM.groupby('name_cat').count()
print df_6075_2_BOM.name_cat.unique()
CATEGORIES_TO_EXCLUDE = ['Flags, Signs, Plastics and Cloth','Minifigs','Minifig Accessories']

['Bricks' 'Plates' 'Bricks Sloped' 'Bricks Round and Cones' 'Tiles'
 'Windows and Doors' 'Plates Special' 'Bars, Ladders and Fences'
 'Bricks Curved' 'Bricks Special' 'Flags, Signs, Plastics and Cloth'
 'Minifigs' 'Technic Pins' 'Technic Bricks' 'Hinges, Arms and Turntables'
 'Minifig Accessories' 'Baseplates' 'String, Bands and Reels']

## Aggregate all colors quantities

In [8]:
df_6075_2_BOM = df_SETS[df_SETS.set_num=='6075-2']
df_6075_2_BOM = df_6075_2_BOM[~df_6075_2_BOM.name_cat.isin(CATEGORIES_TO_EXCLUDE)]
df_6075_2_BOM = df_6075_2_BOM.groupby(['part_num'])[['quantity']].sum().reset_index()
print df_6075_2_BOM.info()
print df_6075_2_BOM.quantity.sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 2 columns):
part_num    45 non-null object
quantity    45 non-null int64
dtypes: int64(1), object(1)
memory usage: 792.0+ bytes
None
676

In [9]:
df_SETS_BOM= df_SETS.groupby(['set_num','part_num','name'])[['quantity']].sum()

In [13]:
df_SETS_BOM.reset_index(inplace=True)
df_SETS_BOM.head()

   index set_num part_num             name  quantity
0      0    00-1    29c01  Weetabix Castle        14
1      1    00-1    3001a  Weetabix Castle        38
2      2    00-1    3002a  Weetabix Castle        22
3      3    00-1     3003  Weetabix Castle        12
4      4    00-1     3004  Weetabix Castle       115

In [15]:
df_BOM_SETS = df_SETS_BOM.pivot(index='set_num', columns='part_num', values='quantity')

In [17]:
df_BOM_SETS = df_BOM_SETS.fillna(0)

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(df_BOM_SETS) 
df_BOM_SETS.loc[:,:] = scaled_values

In [11]:
len(df_SETS_BOM.set_num.unique())
df_SETS_modern = df_SETS[df_SETS.year>2008]
sets_modern = df_SETS_modern.groupby('set_num').agg({'part_num':['count'],'quantity':['sum']})
sets_modern.describe()

          part_num     quantity
             count          sum
count  4337.000000  4337.000000
mean     70.284528   221.350473
std      83.583060   410.179967
min       1.000000     1.000000
25%      12.000000    18.000000
50%      37.000000    69.000000
75%     101.000000   251.000000
max     769.000000  5200.000000

In [11]:
df_BOMs = pd.DataFrame()
i=0
for name,group in df_SETS_BOM.groupby('set_num'):
    df = pd.merge(df_6075_2_BOM,group, on='part_num', how='inner',suffixes=['_6075_2','_sets'])
    
    df['Set']=name
    df_BOMs = pd.concat([df_BOMs,df],axis=0)
    i+=1
    if i%1000==0:
        print i

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000

In [12]:
df_BOMs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69308 entries, 0 to 1
Data columns (total 6 columns):
part_num           69308 non-null object
quantity_6075_2    69308 non-null int64
set_num            69308 non-null object
name               69308 non-null object
quantity_sets      69308 non-null int64
Set                69308 non-null object
dtypes: int64(2), object(4)
memory usage: 3.7+ MB

In [13]:
df_BOMs.head()

  part_num  quantity_6075_2 set_num             name  quantity_sets   Set
0    3002a               12    00-1  Weetabix Castle             22  00-1
1     3003               16    00-1  Weetabix Castle             12  00-1
2     3004              195    00-1  Weetabix Castle            115  00-1
3     3005               73    00-1  Weetabix Castle             57  00-1
4     3008               15    00-1  Weetabix Castle             18  00-1

In [14]:
df_BOMs['Filled_Quantity']=df_BOMs.quantity_6075_2-df_BOMs.quantity_sets
df_BOMs.Filled_Quantity = np.where(df_BOMs.Filled_Quantity<0,df_BOMs.quantity_6075_2,df_BOMs.quantity_sets)

In [15]:
df_BOMs.head()

,part_num,quantity_6075_2,set_num,name,quantity_sets,Set,Filled_Quantity
0,3002a,12,00-1,Weetabix Castle,22,00-1,12
1,3003,16,00-1,Weetabix Castle,12,00-1,12
2,3004,195,00-1,Weetabix Castle,115,00-1,115
3,3005,73,00-1,Weetabix Castle,57,00-1,57
4,3008,15,00-1,Weetabix Castle,18,00-1,15

In [18]:
df_BOMs_grouped = df_BOMs.groupby('set_num')[['Filled_Quantity']].sum()

df_BOMs_grouped.sort_values(by='Filled_Quantity',ascending=False)
df_BOMs_grouped.reset_index(inplace=True)
print df_BOMs_grouped.shape
print len(df_BOMs_grouped.set_num.unique())
df_BOMs_grouped = pd.merge(df_BOMs_grouped,df_sets[['set_num','year','name']].drop_duplicates(), left_on='set_num',right_on='set_num', how='left')

df_BOMs_grouped[df_BOMs_grouped.year>2006].sort_values(by='Filled_Quantity',ascending=False).head(10)

(7370, 2)
7370

      set_num  Filled_Quantity  year                    name
127   10188-1              597  2008              Death Star
5599  75159-1              564  2016              Death Star
5666  75827-1              556  2016  Firehouse Headquarters
155   10224-1              527  2012               Town Hall
206   10654-1              516  2016   XL Creative Brick Box
215   10664-1              516  2013          Creative Tower
246   10697-1              511  2015                XXXL Box
3565   5512-1              486  2010            LEGO XXL Box
3608   5589-1              486  2009               Giant Box
128   10189-1              485  2008               Taj Mahal

In [19]:
TOP_SETS = df_BOMs_grouped[df_BOMs_grouped.year>2006].nlargest(20,'Filled_Quantity')

In [20]:
TOP_SETS.head()

      set_num  Filled_Quantity  year                    name
127   10188-1              597  2008              Death Star
5599  75159-1              564  2016              Death Star
5666  75827-1              556  2016  Firehouse Headquarters
155   10224-1              527  2012               Town Hall
206   10654-1              516  2016   XL Creative Brick Box

In [21]:
TOP_SETS = ['10654-1']

### Select on set and compute missing parts

### Create a list of all possible 3 combinations

In [24]:
ALL_SETS_RECENTS = (df_sets[df_sets.year>2008]).set_num.unique()
len(ALL_SETS_RECENTS)

4827

In [25]:
ALL_SETS_NO_TOPS = list(set(ALL_SETS_RECENTS)-set(TOP_SETS))

In [26]:
COMBI_SETS = list(itertools.product(TOP_SETS,ALL_SETS_NO_TOPS ))
print len(COMBI_SETS)

4826

In [27]:
print len(COMBI_SETS)
print COMBI_SETS[0]

4826
('10654-1', '30201-1')

In [28]:
def combine_sets(df_SETS_BOM,sets_list):
    df = df_SETS_BOM[df_SETS_BOM.set_num.isin(sets_list)] 
    df = df.groupby('part_num')[['quantity']].sum()
    return df.reset_index()

In [29]:
TOTAL_CASTLE_PARTS = df_6075_2_BOM.quantity.sum()
print TOTAL_CASTLE_PARTS

676

In [30]:
def compute_combination_fullfillment_score(df_6075_2_BOM,df_set):
    df = pd.merge(df_6075_2_BOM,df_set, on='part_num',how='left',suffixes=['_6075_2','_sets'])
    df['Filled_Quantity']=df.quantity_6075_2-df.quantity_sets
    df.Filled_Quantity = np.where(df.Filled_Quantity<=0,df.quantity_6075_2,df.quantity_sets)
    df = df.fillna(0)
    
    return df.Filled_Quantity.sum()

In [33]:
from multiprocessing import Manager, Pool

manager = Manager()
shared_list = manager.list()

def do_stuff(x):
    global shared_list
    sets_num = [set_num for set_num in x]
    df_set = combine_sets(df_SETS,sets_num)
    score = compute_combination_fullfillment_score(df_6075_2_BOM,df_SETS)
    shared_list.append((sets_num,score))
    if len(shared_list)%1000==0:
        print len(shared_list)
    
pool = Pool(processes=10)
pool.map(do_stuff, COMBI_SETS)
pool.close()

1000
2000
3000
4000

In [34]:
df_scores = pd.DataFrame([x for x in shared_list],columns=['sets','fullfilled_parts'])
df_sets = df_scores['sets'].apply(pd.Series)
df_sets.columns = ['set1', 'set2']
df_scores = pd.concat([df_scores,df_sets],axis=1)
#df_scores.drop(['sets'],axis=1,inplace=True)

In [35]:
df_scores.sort_values(by='fullfilled_parts',ascending=False)

                         sets  fullfilled_parts     set1          set2
0          [10654-1, 30201-1]            462664  10654-1       30201-1
3223       [10654-1, 40078-1]            462664  10654-1       40078-1
3221        [10654-1, 5762-1]            462664  10654-1        5762-1
3220       [10654-1, 76035-1]            462664  10654-1       76035-1
3219       [10654-1, 70779-1]            462664  10654-1       70779-1
3218        [10654-1, 8167-1]            462664  10654-1        8167-1
3217     [10654-1, 5001382-1]            462664  10654-1     5001382-1
3216     [10654-1, 2853302-1]            462664  10654-1     2853302-1
3215      [10654-1, 850457-1]            462664  10654-1      850457-1
3214       [10654-1, 30374-1]            462664  10654-1       30374-1
3213     [10654-1, 5001370-1]            462664  10654-1     5001370-1
3212       [10654-1, 66325-1]            462664  10654-1       66325-1
3211       [10654-1, 79015-1]            462664  10654-1       79015-1
3210        [10654-1, 9314-1]            462664  10654-1        9314-1
3209      [10654-1, 75056-15]            462664  10654-1      75056-15
3208        [10654-1, 7687-8]            462664  10654-1        7687-8
3207       [10654-1, 40019-1]            462664  10654-1       40019-1
3222       [10654-1, 75098-1]            462664  10654-1       75098-1
3224        [10654-1, 6743-1]            462664  10654-1        6743-1
3205       [10654-1, 70901-1]            462664  10654-1       70901-1
3225       [10654-1, 70780-1]            462664  10654-1       70780-1
3240       [10654-1, 76002-1]            462664  10654-1       76002-1
3239     [10654-1, 5004102-1]            462664  10654-1     5004102-1
3238       [10654-1, 9509-24]            462664  10654-1       9509-24
3237      [10654-1, 853130-1]            462664  10654-1      853130-1
3236  [10654-1, DKBATMANVD-1]            462664  10654-1  DKBATMANVD-1
3235        [10654-1, 9479-1]            462664  10654-1        9479-1
3234       [10654-1, 60022-1]            462664  10654-1       60022-1
3233        [10654-1, 6243-1]            462664  10654-1        6243-1
3232        [10654-1, 8982-1]            462664  10654-1        8982-1
...                       ...               ...      ...           ...
1596        [10654-1, 9498-1]            462664  10654-1        9498-1
1595        [10654-1, 8962-1]            462664  10654-1        8962-1
1594       [10654-1, 75160-1]            462664  10654-1       75160-1
1593        [10654-1, 7948-1]            462664  10654-1        7948-1
1592       [10654-1, 42027-1]            462664  10654-1       42027-1
1591       [10654-1, 70624-1]            462664  10654-1       70624-1
1590       [10654-1, 40009-1]            462664  10654-1       40009-1
1589        [10654-1, 6751-1]            462664  10654-1        6751-1
1588      [10654-1, 561407-1]            462664  10654-1      561407-1
1587        [10654-1, 8426-1]            462664  10654-1        8426-1
1586       [10654-1, 21018-1]            462664  10654-1       21018-1
1601       [10654-1, 10520-1]            462664  10654-1       10520-1
1602       [10654-1, 60145-1]            462664  10654-1       60145-1
1603       [10654-1, 75080-1]            462664  10654-1       75080-1
1612       [10654-1, 75137-1]            462664  10654-1       75137-1
1618        [10654-1, 4637-1]            462664  10654-1        4637-1
1617       [10654-1, 10618-1]            462664  10654-1       10618-1
1616       [10654-1, 71012-8]            462664  10654-1       71012-8
1615       [10654-1, 66448-1]            462664  10654-1       66448-1
1614       [10654-1, 70751-1]            462664  10654-1       70751-1
1613       [10654-1, 8683-16]            462664  10654-1       8683-16
1611       [10654-1, 75010-1]            462664  10654-1       75010-1
1604      [10654-1, 41040-16]            462664  10654-1      41040-16
1610     [10654-1, 5003564-1]            462664  10654-1     5003564-1
1609     [10654-1, 5000068-1]            462664  10654-1     5000068-1
1608        [10654-1, 5749-1]            462664  10654-1        5749-1
1607       [10654-1, 41132-1]            462664  10654-1       41132-1
1606     [10654-1, 2856453-1]            462664  10654-1     2856453-1
1605       [10654-1, 30601-1]            462664  10654-1       30601-1
4825     [10654-1, 5004752-1]            462664  10654-1     5004752-1

[4826 rows x 4 columns]

In [36]:
df_sets = combine_sets(df_SETS_BOM,['10654-1','31044-1'])
df_matching = pd.merge(df_6075_2_BOM,df_sets,on='part_num',how='left',suffixes=['_6075_2','_10654_1'])
df_matching = pd.merge(df_matching,df_PARTS,on='part_num')
df_matching.quantity_10654_1.fillna(0,inplace=True)
df_matching['Missing_parts']=np.where((df_matching.quantity_6075_2-df_matching.quantity_10654_1)>0,df_matching.quantity_6075_2-df_matching.quantity_10654_1,0)
df_matching.sort_values(by='Missing_parts')

,part_num,quantity_6075_2,quantity_10654_1,name_part,part_cat_id,id,name_cat,Missing_parts
10,3023,13,29.0,Plate 1 x 2,14,14,Plates,0.0
15,3039,12,44.0,Slope 45° 2 x 2,3,3,Bricks Sloped,0.0
37,3710,4,10.0,Plate 1 x 4,14,14,Plates,0.0
13,3034,2,10.0,Plate 2 x 8,14,14,Plates,0.0
12,3032,8,8.0,Plate 4 x 6,14,14,Plates,0.0
11,3024,8,17.0,Plate 1 x 1,14,14,Plates,0.0
27,3623,8,9.0,Plate 1 x 3,14,14,Plates,0.0
9,3022,18,28.0,Plate 2 x 2,14,14,Plates,0.0
8,3021,6,9.0,Plate 2 x 3,14,14,Plates,0.0
38,3795,8,10.0,Plate 2 x 6,14,14,Plates,0.0
6,3010,30,52.0,Brick 1 x 4,11,11,Bricks,0.0
5,3009,29,32.0,Brick 1 x 6,11,11,Bricks,0.0
4,3008,15,18.0,Brick 1 x 8,11,11,Bricks,0.0
3,3005,73,180.0,Brick 1 x 1,11,11,Bricks,0.0
2,3004,195,323.0,Brick 1 x 2,11,11,Bricks,0.0
1,3003,16,266.0,Brick 2 x 2,11,11,Bricks,0.0
16,3040b,2,36.0,Slope 45° 2 x 1 with Bottom Pin,3,3,Bricks Sloped,0.0
31,3660,20,28.0,"Slope Inverted 45° 2 x 2 [Ovoid Bottom Pin, Ba...",3,3,Bricks Sloped,0.0
44,73037,1,0.0,String Reel Winch 2 x 4 x 2 (Light Gray Drum),31,31,"String, Bands and Reels",1.0
41,3857,1,0.0,Baseplate 16 x 32,1,1,Baseplates,1.0
43,56823c50,1,0.0,String Cord Thin 50cm,31,31,"String, Bands and Reels",1.0
20,3176,2,1.0,Plate Special 3 x 2 with Hole,9,9,Plates Special,1.0
14,3036,1,0.0,Plate 6 x 8,14,14,Plates,1.0
24,3460,2,0.0,Plate 1 x 8,14,14,Plates,2.0
25,3581,2,0.0,Brick Special 1 x 1 x 2 with Shutter Holder,5,5,Bricks Special,2.0
28,3633,2,0.0,Fence 1 x 4 x 1,32,32,"Bars, Ladders and Fences",2.0
29,3644,2,0.0,Door 1 x 4 x 6,16,16,Windows and Doors,2.0
21,3185,2,0.0,Fence 1 x 4 x 2,32,32,"Bars, Ladders and Fences",2.0
33,3673,2,0.0,Technic Pin without Friction Ridges Lengthwise,53,53,Technic Pins,2.0
7,3020,14,11.0,Plate 2 x 4,14,14,Plates,3.0
30,3659,3,0.0,Brick Arch 1 x 4,37,37,Bricks Curved,3.0
42,3865,4,0.0,Baseplate 8 x 16,1,1,Baseplates,4.0
34,3684,6,2.0,Slope 75° 2 x 2 x 3 [Hollow Studs],3,3,Bricks Sloped,4.0
35,3685,4,0.0,Slope 75° 2 x 2 x 3 Double Convex,3,3,Bricks Sloped,4.0
18,3069b,7,2.0,Tile 1 x 2 with Groove,19,19,Tiles,5.0
36,3700,5,0.0,Technic Brick 1 x 2 [1 Hole],8,8,Technic Bricks,5.0
39,3830,8,2.0,Hinge Brick 1 x 4 [Upper],18,18,"Hinges, Arms and Turntables",6.0
19,3087c,6,0.0,"Window 1 x 1 x 1 Classic with Short Sill, No G...",16,16,Windows and Doors,6.0
23,3308,6,0.0,Brick Arch 1 x 8 x 2,37,37,Bricks Curved,6.0
17,3062a,6,0.0,Brick Round 1 x 1 Solid Stud,20,20,Bricks Round and Cones,6.0
40,3831,8,2.0,Hinge Brick 1 x 4 [Lower],18,18,"Hinges, Arms and Turntables",6.0
22,3307,8,0.0,Brick Arch 1 x 6 x 2 - Thick Top with Reinforc...,37,37,Bricks Curved,8.0
0,3002a,12,0.0,Brick 2 x 3 without Cross Supports,11,11,Bricks,12.0
26,3622,62,48.0,Brick 1 x 3,11,11,Bricks,14.0
32,3665,32,13.0,Slope Inverted 45° 2 x 1,3,3,Bricks Sloped,19.0